<!--
The MIT License (MIT)

Copyright (c) 2016, Groupon, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div class="panel panel-default">
  <div class="panel-heading">JIRA</div>
  <div class="panel-body">
    <div id="category" data-id="jira">
      <fieldset>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="Host" name="host" data-id="host" value="<%= settings.host %>">
        </div>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="Context Path" name="context_path" data-id="context_path" value="<%= settings.context_path %>">
        </div>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="Use SSL" name="use_ssl" data-id="use_ssl" value="<%= settings.use_ssl %>">
        </div>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="Link Host" name="link_host" data-id="link_host" value="<%= settings.link_host %>">
        </div>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="User" name="username" data-id="username" value="<%= settings.username %>">
        </div>
        <div class="form-group">
          <input type="TEXT" class="input-setting form-control floating-label" placeholder="Password" name="password" data-id="password" value="<%= settings.password %>">
        </div>
      </fieldset>
      <button class="btn btn-primary pull-right" id="settings-submit">Update E-mail Settings</button>
    </div>
  </div>
</div>
