<!--
The MIT License (MIT)

Copyright (c) 2016, Groupon, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div class="container col-md-9">
  <ul class="list-unstyled">
    <li><button class="btn btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Submit a new burn" id="submit-burn-btn"><i class="octicon octicon-plus"></i></button></li>
    <% burns.forEach(function(item) { %>
      <% var burn = item.attributes %>
      <% var service = services[_.findIndex(services, {id: burn.service_id})].attributes; %>
      <li>
        <div class="row burn-list-item" style="padding:1em;margin:1em;">
          <div class="col-md-4">
            <% if (burn.pull_request) { %>
              <span class="octicon octicon-git-pull-request" style="margin-left:1em;"></span>&nbsp;<a href="<%= burn.repo_url %>/pull/<%= burn.pull_request %>" target="_blank">#<%= burn.pull_request %></a>
            <% }; %>
            <span class="octicon octicon-repo"></span> &nbsp;<%= service.short_name %><span class="octicon octicon-git-branch" style="margin-left:1em;"></span>&nbsp;<%= burn.branch %><br>
            <span class="octicon octicon-git-commit" style="margin-left:1em;"></span>&nbsp;
            <% if (tagIdentifiers.some(function(i) { return burn.revision.indexOf(i) != -1; })) { %>
              <%= burn.revision %>
            <% } else { %>
              <%= burn.revision.slice(0,8) %>
            <% }; %>

          </div>
          <div class="col-md-4"><span class="octicon octicon-code"></span> &nbsp;<%= burn.code_lang %></div>
          <div class="col-md-2">
            <span class="octicon octicon-clock"></span> &nbsp;<%= moment(burn.created_at).fromNow() %><br>
            <span class="octicon octicon-question"></span> &nbsp;<%= burn.status %>
          </div>
          <div class="col-md-2">
            <div class="pull-right">
              <% if (burn.status == "done") { %>
                <a href="javascript:void(0)" class="btn btn-default btn-xs burn-show-findings" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Show findings for this burn" data-id="<%= burn.id %>" data-branch="<%= burn.branch %>" data-service="<%= service.id %>"><i class="octicon octicon-search"></i></a>
              <% }; %>
              <% if (burn.status == "done" || burn.status == "failed") {%>
                <a href="javascript:void(0)" class="btn btn-default btn-xs burn-reignite" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Re-ignite this burn" data-id="<%= burn.id %>" data-service="<%= service.id %>"><i class="octicon octicon-sync"></i></a>
              <% }; %>
            </div>
          </div>
        </div>
      </li>
    <% }); %>
  </ul>
</div>
