<!--
The MIT License (MIT)

Copyright (c) 2016, Groupon, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div class="well">
<!--     <div class="panel-heading">
    <center><b>Finding Details</b></center>
    </div>
    <div class="panel-detail panel-body" id="detail_view"> -->
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= moment(model.get('created_at')).format('LLL') %></dd>
        <dt>Service</dt>
        <dd><%= service.get('short_name') %></dd>
        <dt>Severity</dt>
        <dd><%= window.constants.display_severity[model.get('severity')] %></dd>
        <dt>Fingerprint</dt>
        <dd class="wrap"><span id="fingerprint-span" class="truncated" data-fingerprint="<%= model.get('fingerprint') %>"><%= model.get('fingerprint')%></span></dd>
        <dt>Status</dt>
        <dd><%= window.constants.display_status[model.get('status')] %></dd>
        <dt>Source</dt>
        <dd><%= model.get('scanner') %></dd>
        <dt>Description</dt>
        <dd><%= model.get('description') %></dd>
        <% if (model.get('detail')) { %>
            <dt>Details</dt>
            <dd><%= Autolinker.link(model.get('detail').replace(/\\n/g, "<br>"), { stripPrefix: false }) %></dd>
        <% } %>
        <% if (model.get('file')) { %>
            <dt>File</dt>
            <% if (model.get('scanner') == 'RetireJS' || model.get('scanner') == 'Snyk' || model.get('scanner') == 'NodeSecurityProject') { %>
                <dd><%= model.get('file') %>
            <% } else { %>
                <dd><a href="<%= service.get('repo_url') %>/tree<%= model.get('file') %><% if (model.get('line')) { %>#L<%= model.get('line') %><% } %>" target="_blank"><%= model.get('file') %></a>
            <% } %>
            <% if (model.get('line')) { %>
                , <b>Line </b><%= model.get('line') %>
            <% } %></dd>
        <% } %>
        <% if (model.get('code')) { %>
            <dt>Code</dt>
            <dd><pre><code id="detail_code"><%= hljs.highlightAuto(model.get('code').trim()).value %></code></pre></dd>
        <% } %>
        <dd class="pull-right">
          <button class="btn btn-sm btn-flat" id="publish-btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Publish issue from this finding" data-finding-id="<%= id %>"><i class="octicon octicon-issue-opened"></i></button>
          <% if (model.get('status') === 1) { %>
            <button class="btn btn-sm btn-flat" id="hide-issue" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Un-hide this finding" data-finding-id="<%= id %>"><i class="octicon octicon-plus"></i></button>
          <% } else { %>
            <button class="btn btn-sm btn-flat" id="hide-issue" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Hide this finding" data-finding-id="<%= id %>"><i class="octicon octicon-x"></i></button>
          <% }; %>
          <button class="btn btn-sm btn-flat" id="filter-btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Filter findings like this" data-finding-id="<%= id %>" <% if(model.get('filter_id')) { %>disabled<% }; %>><i class="octicon octicon-diff"></i></button>
        </dd><br>
      </dl>
<!--     </div> -->
</div>
